@model IEnumerable<Repository.Models.StationMaintenance>

@{
    ViewBag.Title = "Stationmaintenance";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Stationer under vedligeholdelse</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaintenanceType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpectedOperationalDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaintenanceType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpectedOperationalDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
